.service_prop {
    font-size: medium;
    font-weight: 400;
    color: #f94a0f;
    margin-top: 15px;
}
.service_comment {
    font-weight: 400;
    font-size: medium;
    margin-top: 15px;
    padding-bottom: 30px;
}
.comment_topic {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}
.service_comment_container {
    width: 75%;
    margin: auto;
    height: 800px;
}
.lighter {
    margin-top: 30px;
    border: 1px solid;
}
.service_button {
    text-align: center;
    margin-top: 5vh;
}

@media screen and (max-width: 650px)  {
    .comment_topic {
        font-size: 25px;
    }
    .service_comment_container {
        height: auto;
    }
}