.update__profile_caption {
    height: 400px;
    width: 100%;
    background-image: url('https://res.cloudinary.com/kadoshi/image/upload/v1603722685/PC/Services_bgqfuz.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.update__profile_body {
    height: 800px;
    width: 85%;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #FDD3FE;

    .update__profile_img {

    }
}