.service-profile-info {
    width: 300px;
    height: 25rem;
    margin-left: 4%;
    margin-bottom: 30px;
    display: grid;
    place-items: center;
    border-radius: 35px;
    box-shadow: 4px 4px 28px 9px rgb(228,210,204);

}

// .react-stars-wrapper-016668947743480644:focus {
//     outline: 0;
// }

.profile-pic {
    display: inline-block;
    width: 150px;
    margin-top: 10px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    img {
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.profile-name {
    font-size: 21px;
    font-weight: 500;
    color: #444;
    text-transform: capitalize;

    span {
        font-size: 18px;
        color: #999;
        text-transform: capitalize;
    }
}

.profile-rating {
    display: grid;
    place-items: center;
    margin-bottom: 8%;
}

.body-button {
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: #F7B39E;
}

.body-button:hover {
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .service-profile-info {
        width: 260px;
    }
}

@media screen and (max-width: 650px) {
    .service-profile-info {
        width: 300px;
        margin-bottom: 30px !important;
        margin: auto;
        justify-content: center;
        border-radius: 12px;
        box-shadow: 4px 4px 28px 9px rgb(228,210,204);
    
    }
    
    .profile-pic {
        display: inline-block;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        margin-top: 18px !important;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
    
    .profile-name {
        margin: 0 10% 0 10%;
        font-size: 20px;
        font-weight: 400;
    
        span {
            font-size: 14px;
        }
    
    }

    .body-button {
        width: 6rem;
        height: 2.5rem;
        border: none;
        border-radius: 5px;
        font-size: 11px;
        font-weight: bold;
        background-color: #F7B39E;
    }
}