.button-header {
    justify-content: center;
    width: 90px;
    height: 40px;
    border-radius: 50px;
    margin-top: 10px;
    background-color: rgb(247,126,85);
}

.values {
    color: black;
    font-size: 12px;
    font-weight: 500;
}