.service-body-background {
  background-color: var(--clr-offset-200);
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.professional-view {
  font-size: 30px;
  // padding: 60px;
  font-weight: 500;
  margin-bottom: 50px;
}

.professional-data {
  margin: 10px auto;
  display: flex;
  //   place-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  gap: 1.5rem;
}

.professional_optioon {
  padding-bottom: 25px;
}

@media screen and (max-width: 650px) {
  .service-body-background {
    width: 100%;
    text-align: center;
  }

  .professional-view {
    font-size: 20px;
    padding: 50px;
    font-weight: 600;
  }
}
