@media screen and (max-width: 650px) {
.contact-body {
    background-image: url(https://res.cloudinary.com/kadoshi/image/upload/v1603717604/Illustration_4_sqktqn.png),
     url(https://res.cloudinary.com/kadoshi/image/upload/v1603721822/PC/Circles_o040d6.png),
      url(https://res.cloudinary.com/kadoshi/image/upload/v1603721822/PC/Circles_o040d6.png);
    height: 56vh;
    width: 100%;
    background-position: center, right, bottom left;
    background-size: 70%, 30%, 30%;
    background-repeat: no-repeat;
}
.contact_text {
    text-align: center;
    padding: 0 40px !important;
    font-size: 15px !important;
    font-weight: 500;
}

}

.contact-body {
    background-image: url(https://res.cloudinary.com/kadoshi/image/upload/v1603722225/PC/Illustration_4_-_Contact_Us_mvkmzi.png),
     url(https://res.cloudinary.com/kadoshi/image/upload/v1603721822/PC/Circles_o040d6.png),
      url(https://res.cloudinary.com/kadoshi/image/upload/v1603721822/PC/Circles_o040d6.png);
    height: 60vw;
    width: 100%;
    background-color: rgb(243,243,243);
    background-position: center, right, bottom left;
    background-size: 70%, 45%, 50%;
    background-repeat: no-repeat;
}

.contact_text {   
    background-color: rgb(243,243,243);
    padding-bottom: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
