.professional-option {
    justify-content: center;
    padding-top: 30px;
}

.text-list {
    font-size: 60px;
    font-weight: 500;
}

.option-_header {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 3% auto 0;
    
    select {
        height: 46px;
        width: 100%;
        align-items: center;
    }
    
    select,
    input {
        background-color: #F9E6E0;
        color: black;
        outline:none;
        border: 2px solid #f87e59;
        border-radius: 8px;
        
        option {
            background-color:  #F9E6E0;
            text-transform: uppercase;
            font-style: normal;
            font-family: Roboto;
        }
    }

    select::placeholder, 
    input::placeholder {
        color: black;
        font-size: 15px;
    }
    
    select:focus
    input:focus {
        background-color:  #F9E6E0;
    }
}

.professional__button {
    margin: 20px 0 40px 0;
}

@media screen and (max-width: 650px) {
    .option-_header {
        width: 40%;
        display: inline;
        margin: auto;
        
    }
    .text-list {
        font-size: 30px;
        font-weight: 400;
    }

        select {
            height: 46px;
            margin-bottom: 12px;
        }
        
        select,
        input {
            background-color: #F9E6E0;
            color: black;
            outline:none;
            border: 2px solid #f87e59;
            border-radius: 8px;
            
            option {
                background-color:  #F9E6E0;
                text-transform: uppercase;
                font-style: normal;
                font-family: Roboto;
            }
        }
    
        select::placeholder, 
        input::placeholder {
            color: black;
            font-size: 15px;
        }
        
        select:focus
        input:focus {
            background-color:  #F9E6E0;
        }
    
    .professional__button {
        margin: 20px 0 0px 0;
    }
}