.top__nav {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0px 0px 8px 1px #00000045;
  padding-block: 1.2rem;
  color: #000;
  z-index: 99;
  position: relative;

  a {
    text-decoration: none;
    color: #fff;
  }

  .top__nav_links {
    font-size: 1rem;
    display: flex;
    flex: 0.8;
    justify-content: flex-end;
    align-items: center;
    transition: all 1s;

    a {
      margin-right: 4%;
      text-decoration: none;
      color: #000;
    }

    a:hover {
      opacity: 0.6;
    }

    a.selected {
      color: #f87e59;
    }
  }

  .top__nav_toggle {
    position: absolute;
    width: 6rem;
    height: 3rem;
    background-color: #fff;
    margin-top: 130px;
    border-radius: 5px;
    padding: 10px 10px;
    color: #000;

    div {
      height: 30px;
      font-size: 0.9rem;
      padding-left: 1rem;
      font-weight: 600;
      cursor: pointer;
    }
    a {
      color: #000;
    }
    a:hover {
      text-decoration: underline;
      color: #000;
    }
  }

  .top__nav_drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
  }
}

@media screen and (max-width: 650px) {
  .top__nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top__nav_links {
      margin-top: 15px;
      justify-content: center;
      align-items: center;
      max-width: 95%;
      font-size: 1.1rem;
      font-weight: 600;

      div {
        margin-left: 0.5rem;
        cursor: pointer;
      }
    }
  }

  .top__nav_toggle {
    width: 120px !important;
    margin-top: 110px !important;

    div {
      font-size: 0.7rem !important;
    }
  }
}
