.service-caption-header {
  text-align: left;
  align-self: center;
  color: var(--clr-offset);
  font-size: calc(clamp(1.4rem, 4vw, 2.2rem));
  line-height: 1.5;
}

.service-text {
  width: calc(min(90%, 650px));
  margin-inline: auto;
}
