.service_head {
    text-align: center;
}
.service_head_main {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
}

.service_head_sub {
    color: #fb7346;
    font-size: 100px;
    font-weight: 900;
}
.service_head_body {
    color: #ffffff;
}

