.logo {
  display: flex;
  background-color: rgb(253, 139, 59);
  font-style: italic;
  padding: 0.8rem 0.8rem;
  border-radius: 50%;
  width: 3rem;
  a {
    font-size: 0.9rem;
    color: #fff;
  }
}
