.services_body {
    width: 100%;
    height: 100%;
    background-color: #f4e1db;
}
.services_body_cont {
    background-image: url("https://res.cloudinary.com/kadoshi/image/upload/v1603722685/PC/Services_bgqfuz.png");
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.service_about {
    display: flex;
}
.horiz {
    border: 2px solid;
}
.react_star {
    outline: 0;
}

.service_basic_info {
    text-align: center;
    width: 75%;
    margin: auto;
}
.service_basic_info_container {
    background-color: #f4e1db;
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 30px;
}
.service_basic_info_about {
    width: 100%;
    height: 100%;
    text-align: justify;
    padding-left: 50px;
    font-size: 20px;
}
.com {
    margin-bottom: 20px;
}
.carousel_top {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    margin-top: 5vh;
    margin-bottom: 5vh;
    }

    @media screen and (max-width: 650px)  {
        .services_body_cont {
            background-image:url("https://res.cloudinary.com/kadoshi/image/upload/v1603722685/PC/Services_bgqfuz.png");
        }

        .service_basic_info_container {
        font-size: 15px;
        }
        .carousel_top {
            font-size: 20px;
        }
    }