.auth-container {
  background-color: var(--clr-offset);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 14vh;
  padding-bottom: 20vh;
  text-align: center;
}

.signIn__main_body {
  color: var(--clr--dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .signIn__main_caption {
    text-align: center;
    width: 24ch;
    margin-inline: auto;
    padding-top: 2.5rem;
  }
}
.signIn__main_inputs {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: #{' min(90%, 500px)'};
  background-color: #fff;
  padding: 2rem 1.5rem;
  > * + * {
    margin-top: 1rem;
  }
  input {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 3.875rem;
    border-radius: 1rem;
    border: 2px solid rgb(242, 242, 242);
    background: rgb(255, 255, 255);
    color: rgb(79, 79, 79);
  }
  button {
    margin-top: 2rem;
  }
}
.forgot-password {
  text-align: center;
}
