.update__profile_inputs {
    width: 70%;
    margin: 0 auto;

    .css-1lepn2w {
        top: 40% !important;
    }

    .css-k6882c {
        margin-top: 1%;
        color: #f87e59;
    }

    input {
        color: #000;
        outline:none;
        border: 2px solid #f87e59;
        border-radius: 8px;
        margin-bottom: 20px;
        height: 50px;
    }

    input::placeholder {
        color: #000;
    }

    input:focus {
        background-color:rgba(163, 163, 163, 0.2);
    }

    select {
        color:#000;
        outline:none;
        border: 2px solid #f87e59;
        border-radius: 8px;
        margin-bottom: 20px;
        height: 60px;

        option {
            background-color: rgba(0, 0, 0, 0.8);
            text-transform: uppercase;
            font-style: normal;
            font-family: Roboto;
        }
    }

    select::placeholder {
        color: #000;
    }

    select:focus {
        background-color:rgba(163, 163, 163, 0.2);
    }
}

@media screen and (max-width: 650px) {
    .update__profile_inputs {
        width: 85%;

        .css-1lepn2w {
            top: 50% !important;
        }

        .css-k6882c {
            margin-top: 0;
            color: #000;
        }

        input {
            border: 2px solid #f87e59;
            border-radius: 0;
            margin-bottom: 0;
            height: 35px;
        }

        input::placeholder {
            font-size: 0.8rem;
        }

        select {
            outline:none;
            border: 2px solid #f87e59;
            border-radius: 0;
            margin-bottom: 0;
            height: 40px;
            font-size: 0.84rem;
        }
    }
}