:root {
  --clr-primary: rgb(253, 139, 59);
  --clr-offset: #fff;
  --clr-offset-100: ##fcfcfc;
  --clr-offset-200: #f7f4f4;
  --clr-dark-900: #999;
  --clr-dark: #000;
}
body {
  margin: 0;
  font-family: 'Open Sans', 'sans-serif', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-offset-100);
}

button {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.gray {
  color: rgb(158, 158, 158) !important;
}
