.home__head {
  height: calc(95vh - 80px);
  width: 100%;
  background-color: var(--clr-offset-100);
  //   background-image: url(https://res.cloudinary.com/kadoshi/image/upload/v1603722032/PC/Hero_Image_2_ei2r2r.png);
  // background-image: url(/workers.eps);
  background-position: inherit;
  background-size: contain;
  background-repeat: round;
  padding-bottom: 40px;
}

.home__head_btn {
  display: grid;
  place-items: center;
  margin-bottom: 60px;
}
