.__success {
    background-color: #55c57a;
}

.__error {
    background-color: #fb7346;
}

.__error,
.__success {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 600;
    position: fixed;
    z-index: 100;
    text-transform: uppercase;
    top: 0;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


@media screen and (max-width: 650px) {
    .__success {
        font-size: 0.7rem;
        width: 70%;
        left: 15%;
        right: 15%;
    }
}