.service_body_container {
    background-color:  #f4e1db;
    margin-top: 4vh;
    height: 75vh;
}
.service_body_p {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: #333;
}
@media screen and (max-width: 659px)  {
    .service_body_p {
        font-size: 20px;
        font-weight: 500;
    }
    .service_body_container {
        margin-top: 1vh;
    }
    
}