.service_body_container {
    background-color:  #f4e1db;
    margin-top: 16vh;
    height: 75vh;
}
.service_body_p {
    text-align: center;
    margin: 10vh;    
    font-size: 40px;
    font-weight: 400;
    padding-top: 40px;
}